    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to our Project</h1>
        <p>For this project we have chosen to create an application that allows you to view, edit, create and remove hotels and the rooms within.</p>
        <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  				Learn More About Our Project
		   </button></p>
		   
		   
		   
		   <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Group 6 Authors and Information</h4>
      </div>
      <div class="modal-body">
        <ul>
        	<li>Scott Pappas</li>
        	<li>Justin Beard</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>View Hotels</h2>
          <p>A list of all the hotels in our database</p>
          <p><a class="btn btn-default" href="/hotels" role="button">View Hotel List&raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>View Rooms</h2>
          <p>A list of all the rooms in our database</p>
          <p><a class="btn btn-default" href="/rooms" role="button">View Room List &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Scott Pappas and Justin Beard 2014</p>
      </footer>
    </div> <!-- /container -->
